*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: teleneobold; }

.container {
  display: grid;
  grid-template-rows: 118px 962px;
  grid-template-columns: 310px 1610px; }

.dashboard {
  grid-row: 2/3;
  grid-column: 2/3;
  font-size: 3.6rem;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 293px 1fr 293px;
  grid-template-rows: repeat(3, max-content); }

.snel {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-rows: max-content 48px;
  grid-template-columns: repeat(3, 330.67px);
  grid-auto-rows: max-content;
  gap: 16px;
  padding-bottom: 64px; }
  .snel-title {
    grid-column: 1 / 4;
    padding-top: 48px;
    padding-bottom: 20px;
    line-height: 24px;
    font-size: 22.5px;
    color: #262626; }
  .snel__mijn-icon {
    width: 18px;
    height: 18px; }
  .snel__mijn-button {
    background-color: #E20074;
    width: 330.67px;
    height: 48px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    border: none; }
  .snel__mijn-buttonplaceholder {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 28px;
    font-size: 18px; }

.openstaade {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: max-content 176px;
  grid-template-columns: repeat(2, 312px);
  gap: 16px;
  padding-bottom: 64px; }
  .openstaade-title {
    grid-column: 1 / 3;
    line-height: 28px;
    font-size: 22.5px;
    color: #262626; }
  .openstaade__item-notice {
    background-color: #FFFFFF;
    border: 2px solid #FECB00;
    border-radius: 4px;
    font-size: 18px; }
  .openstaade__item-notice-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 52px 56px 52px;
    grid-template-columns: 24px 1fr 24px;
    row-gap: 8px; }
    .openstaade__item-notice-1-head {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      padding-top: 24px; }
    .openstaade__item-notice-1-body {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-family: teleneomedium;
      color: #757575; }
    .openstaade__item-notice-1-link {
      grid-row: 3 / 4;
      grid-column: 2 / 3; }
  .openstaade__item-notice-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 80px 28px 52px;
    grid-template-columns: 24px 1fr 24px;
    row-gap: 8px; }

.statistics {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  grid-template-rows: max-content 128px;
  grid-template-columns: repeat(3, 330.67px);
  gap: 16px; }
  .statistics-iconcircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #F6F6F6;
    display: inline-block; }
  .statistics-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(50%, 50%); }
  .statistics-title {
    grid-column: 1 / 4;
    line-height: 24px;
    font-size: 22.5px;
    color: #262626; }
  .statistics__item {
    background-color: #FFFFFF;
    padding: 24px 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.04);
    display: grid;
    grid-template-columns: 80px 186.67px;
    gap: 16px; }
  .statistics-info {
    display: grid;
    grid-template-rows: 40px 28px; }
    .statistics-info-number {
      font-size: 36px;
      line-height: 40px;
      color: #262626;
      padding-top: 6px; }
    .statistics-info-placeholder {
      font-family: teleneomedium;
      color: #757575;
      font-size: 18px;
      align-self: center; }

.header {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 190px 1fr 282px;
  color: black;
  font-size: 3.6rem;
  background-color: #ffffff; }
  .header-links {
    grid-column: 3 / -1;
    font-size: 18px;
    justify-self: end;
    align-self: center; }
    .header-links-search {
      padding-right: 25px; }
    .header-links-account {
      padding-right: 20px; }
    .header-links-logout {
      padding-right: 31.99px;
      padding-top: 48px;
      padding-bottom: 48px; }
  .header-title {
    grid-column: 1 / 2;
    padding: 37px 32px;
    font-family: teleneobold;
    list-style: 40px; }

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 114px 1fr;
  color: #000;
  font-size: 3.6rem;
  padding: 30px;
  background-color: #ffffff; }
  .sidebar-logo {
    grid-row: 1 / 2;
    align-self: start;
    justify-self: start; }
    .sidebar-logo-icon {
      width: 70px;
      height: 34px; }

.navigation__list {
  display: grid;
  grid-template-rows: repeat(6, 56px) 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: teleneobold;
  font-size: 16px; }
  .navigation__list-dashboard {
    grid-row: 1 / 2; }
  .navigation__list-medewerkers {
    grid-row: 2/3; }
  .navigation__list-telefoonnummers {
    grid-row: 3/4; }
  .navigation__list-bedrijfsfuncties {
    grid-row: 4/5; }
  .navigation__list-divider {
    grid-row: 5/6;
    width: 262px;
    height: 0;
    border: 0.5px solid #A4A4A4; }
  .navigation__list-help {
    grid-row: 6/7; }

.iconspacing {
  padding-right: 24px; }
