*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: teleneobold; }

.container {
  display: grid;
  grid-template-columns: minmax(200px, 310px) minmax(24px, 1fr) min-content minmax(24px, 1fr);
  grid-template-rows: 114px min-content min-content min-content; }
  @media only screen and (max-width: 1000px) {
    .container {
      grid-template-columns: minmax(24px, 1fr) minmax(min-content, 900px) minmax(24px, 1fr);
      grid-template-rows: repeat(4, min-content); } }

.bleed1 {
  grid-column: 2 / 3;
  grid-row: 2 / span 3;
  background-color: #F6F6F6; }
  @media only screen and (max-width: 1000px) {
    .bleed1 {
      grid-column: 1 / 2;
      grid-row: 2 / span 4; } }

.bleed2 {
  grid-column: 4 / 5;
  grid-row: 2 / span 3;
  background-color: #F6F6F6; }
  @media only screen and (max-width: 1000px) {
    .bleed2 {
      grid-column: 3 / 4;
      grid-row: 2 / span 4; } }

.sidebar {
  grid-row: 1 / span 4;
  display: grid;
  grid-template-rows: 114px 1fr;
  color: #000;
  box-shadow: 0.5px 0px 0px rgba(0, 0, 0, 0.3);
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF; }
  @media only screen and (max-width: 1000px) {
    .sidebar {
      display: none;
      border-right: none;
      box-shadow: none; } }
  .sidebar .iconspacing {
    width: 24px;
    height: 24px; }
  .sidebar .menuitem {
    align-self: center; }
  .sidebar-logo {
    grid-row: 1 / 2;
    align-self: start;
    justify-self: start;
    padding-left: 24px;
    padding-top: 40px; }
    .sidebar-logo .logo-icon {
      width: 70px;
      height: 34px; }
  .sidebar-navigation__list {
    grid-row: 2 / 3;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(4, 56px) 32px 56px 1fr;
    grid-template-columns: minmax(200px, 309.5px);
    font-family: teleneo_officeregular;
    font-size: 16px;
    line-height: 24px; }
    @media only screen and (max-width: 1000px) {
      .sidebar-navigation__list {
        grid-template-rows: repeat(4, 56px) 32px repeat(3, 56px); } }
    .sidebar-navigation__list-link {
      text-decoration: none;
      color: #262626;
      display: grid;
      grid-template-columns: 48px max-content;
      padding-left: 24px; }
    .sidebar-navigation__list-dashboard {
      grid-row: 1 / 2;
      padding: 16px 0; }
      .sidebar-navigation__list-dashboard:hover, .sidebar-navigation__list-dashboard:active {
        background-color: #F6F6F6;
        font-weight: bold; }
    .sidebar-navigation__list-medewerkers {
      grid-row: 2/3;
      padding: 16px 0; }
      .sidebar-navigation__list-medewerkers:hover, .sidebar-navigation__list-medewerkers:active {
        background-color: #f6f6f6;
        font-weight: bold; }
    .sidebar-navigation__list-telefoonnummers {
      grid-row: 3/4;
      padding: 16px 0; }
      .sidebar-navigation__list-telefoonnummers:hover, .sidebar-navigation__list-telefoonnummers:active {
        background-color: #f6f6f6;
        font-weight: bold; }
    .sidebar-navigation__list-bedrijfsfuncties {
      grid-row: 4/5;
      padding: 16px 0; }
      .sidebar-navigation__list-bedrijfsfuncties:hover, .sidebar-navigation__list-bedrijfsfuncties:active {
        background-color: #f6f6f6;
        font-weight: bold; }
    .sidebar-navigation__list-divider {
      grid-row: 5/6;
      align-self: center;
      width: 262px;
      height: 0;
      margin: 0 24px;
      border-bottom: 0.5px solid #a4a4a4; }
      @media only screen and (max-width: 1366px) {
        .sidebar-navigation__list-divider {
          width: 200px; } }
    .sidebar-navigation__list-help {
      grid-row: 6/7;
      padding: 16px 0; }
      .sidebar-navigation__list-help:hover, .sidebar-navigation__list-help:active {
        background-color: #f6f6f6;
        font-weight: bold; }
    @media only screen and (max-width: 1000px) {
      .sidebar-navigation__list-divider {
        width: 262px; }
      .sidebar-navigation__list-account {
        grid-row: 6/7;
        padding: 16px 0; }
        .sidebar-navigation__list-account:hover, .sidebar-navigation__list-account:active {
          background-color: #f6f6f6;
          font-weight: bold; }
      .sidebar-navigation__list-help {
        grid-row: 7/8;
        padding: 16px 0; }
        .sidebar-navigation__list-help:hover, .sidebar-navigation__list-help:active {
          background-color: #f6f6f6;
          font-weight: bold; }
      .sidebar-navigation__list-logout {
        grid-row: 8/9;
        padding: 16px 0; }
        .sidebar-navigation__list-logout:hover, .sidebar-navigation__list-logout:active {
          background-color: #f6f6f6;
          font-weight: bold; } }

.header {
  grid-column: 2 / -1;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 158px minmax(190px, 1fr) 252px;
  grid-template-rows: 40px;
  padding: 37px 32px;
  background-color: #FFFFFF; }
  @media only screen and (max-width: 1000px) {
    .header {
      display: none; } }
  .header-title {
    grid-column: 1 / 2;
    line-height: 40px; }
  @media only screen and (max-width: 1000px) {
    .header-title {
      display: none; } }
  .header-links {
    grid-column: 3 / 4;
    font-size: 18px;
    align-self: center;
    display: grid;
    grid-template-columns: 24px 108px 24px;
    grid-template-rows: 28px;
    align-items: center;
    column-gap: 48px; }
    .header-links--search {
      grid-column: 1 / 2; }
    .header-links--account {
      grid-column: 2 / 3;
      align-items: center;
      display: grid;
      grid-template-columns: 24px 76px;
      grid-template-rows: 28px;
      column-gap: 8px; }
      .header-links--account-icon {
        grid-column: 1 / 2; }
      .header-links--account-placeholder {
        align-items: center;
        grid-column: 2 / 2;
        display: grid;
        grid-template-columns: 60px 12px;
        grid-template-rows: 28px;
        column-gap: 4px; }
        .header-links--account-placeholder-1 {
          grid-column: 1 / 2;
          line-height: 28px;
          font-family: teleneo_officeregular; }
        .header-links--account-placeholder-2 {
          grid-column: 2 / 3; }
    @media only screen and (max-width: 1000px) {
      .header-links--account {
        display: none; }
      .header-links--search {
        grid-column: 1 / 2; } }
    .header-links-logout {
      grid-column: 3 / 4; }
    @media only screen and (max-width: 1000px) {
      .header-links-logout {
        display: none; } }

.header-mobile {
  display: none; }

@media only screen and (max-width: 1000px) {
  .header-mobile {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    width: 100%;
    display: grid;
    grid-template-columns: 56px minmax(100px, 1fr) 24px 10px 48px;
    grid-template-rows: 114px;
    column-gap: 24px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding-left: 24px; }
    .header-mobile-logo {
      align-self: center;
      grid-column: 1 / 2;
      height: 27px;
      width: 56px; }
    .header-mobile-gap {
      grid-column: 2 / 3; }
    .header-mobile-search {
      align-self: center;
      grid-column: 3 / 4;
      height: 30px;
      width: 30px;
      padding-right: 24px; }
    .header-mobile-divider {
      grid-column: 4 / 5;
      justify-self: center;
      height: 114px;
      width: 0px;
      border-left: 0.5px solid #a4a4a4; }
    .header-mobile-menu {
      align-self: start;
      grid-column: 5 / 6;
      width: 24px;
      height: 24px; }
    .header-mobile .nav-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 310px;
      height: 100%;
      z-index: -1;
      background: #fff;
      opacity: 0;
      transition: all 0.2s ease;
      display: grid;
      grid-template-rows: 114px 1fr; }
    .header-mobile .nav-btn {
      position: absolute;
      top: 10px;
      display: block;
      width: 24px;
      height: 31px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      padding-top: 28px; }
    .header-mobile .nav-btn i {
      display: block;
      width: 20px;
      height: 1.23px;
      background: #000;
      border-radius: 2px; }
    .header-mobile .menu {
      font-size: 8px;
      line-height: 12px;
      font-family: teleneomedium; }
    .header-mobile .nav-btn i:nth-child(1) {
      margin-top: 5.01px; }
    .header-mobile .nav-btn i:nth-child(2) {
      margin-top: 5.01px;
      opacity: 1; }
    .header-mobile .nav-btn i:nth-child(3) {
      margin-top: 5.01px; }
    .header-mobile .hidden {
      display: none; }
    .header-mobile #nav:checked ~ .nav-wrapper {
      z-index: 9999;
      opacity: 1; }
    .header-mobile #nav:checked ~ .nav-wrapper ul li a {
      opacity: 1; }
    .header-mobile-logosmall {
      display: none;
      height: 27px;
      width: 56px; } }

@media only screen and (max-width: 480px) {
  .header-mobile {
    grid-template-rows: 75px; }
    .header-mobile .nav-btn {
      position: absolute;
      top: 21.99px;
      display: block;
      width: 24px;
      height: 31px;
      cursor: pointer;
      z-index: 9999;
      border-radius: 50%;
      padding-top: 0; }
    .header-mobile .nav-btn i {
      display: block;
      width: 20px;
      height: 1.23px;
      background: #000;
      border-radius: 2px; }
    .header-mobile .nav-btn i:nth-child(1) {
      margin-top: 5.01px; }
    .header-mobile .nav-btn i:nth-child(2) {
      margin-top: 5.01px;
      opacity: 1; }
    .header-mobile .nav-btn i:nth-child(3) {
      margin-top: 5.01px; } }

.snel {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-auto-rows: 48px;
  gap: 16px;
  padding-bottom: 64px;
  background-color: #F6F6F6; }
  @media only screen and (max-width: 1000px) {
    .snel {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
      padding-bottom: 250px; } }
  @media only screen and (max-width: 720px) {
    .snel {
      padding-bottom: 24px; } }
  .snel-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 48px;
    padding-bottom: 4px; }
    @media only screen and (max-width: 1000px) {
      .snel-title {
        padding-top: 0; } }
  .snel-item {
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: repeat(3, 330.67px);
    grid-auto-rows: 48px;
    gap: 16px; }
    @media only screen and (max-width: 1280px) {
      .snel-item {
        grid-template-columns: repeat(2, 330.67px); } }
    @media only screen and (max-width: 720px) {
      .snel-item {
        grid-template-columns: repeat(2, 300px);
        column-gap: 16px; } }
    @media only screen and (max-width: 655px) {
      .snel-item {
        grid-template-columns: 342px; } }
    .snel-item-button {
      background-color: #E20074;
      width: 330.67px;
      height: 48px;
      color: #FFFFFF;
      font-family: teleneobold;
      font-size: 18px;
      border-radius: 4px;
      border: none;
      display: grid;
      grid-template-columns: 18px max-content;
      grid-template-rows: 28px;
      column-gap: 8px;
      align-content: center;
      justify-content: center; }
      @media only screen and (max-width: 720px) {
        .snel-item-button {
          width: 300px; } }
      @media only screen and (max-width: 655px) {
        .snel-item-button {
          width: 342px; } }
      .snel-item-button-icon {
        grid-column: 1 / span 1;
        align-self: center; }
      .snel-item-button-placeholder {
        grid-column: 2 / span 1;
        line-height: 28px;
        font-size: 18px;
        align-self: center; }

.openstaade {
  grid-column: 3 / 4;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 312px));
  padding-bottom: 64px;
  background-color: #F6F6F6; }
  @media only screen and (max-width: 1000px) {
    .openstaade {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: grid;
      grid-template-rows: max-content max-content max-content;
      grid-template-columns: auto;
      gap: 16px;
      padding-bottom: 64px; } }
  @media only screen and (max-width: 480px) {
    .openstaade {
      padding-bottom: 44px; } }
  .openstaade-title {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  @media only screen and (max-width: 1000px) {
    .openstaade-title {
      padding-top: 10px;
      grid-row: 2 / 3;
      grid-column: 1 / -1; } }
  .openstaade-items {
    display: grid;
    column-gap: 16px; }
    @media only screen and (max-width: 1000px) {
      .openstaade-items {
        grid-row: 3 / 4;
        grid-column: 1 / -1; } }
    @media only screen and (max-width: 720px) {
      .openstaade-items {
        grid-template-columns: repeat(2, 312px);
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x proximity; } }
    .openstaade-items__item-notice {
      background-color: #FFFFFF;
      border: 2px solid #FECB00;
      border-radius: 4px; }
  .openstaade__item-notice-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 52px 56px 52px;
    grid-template-columns: 24px 1fr 24px;
    row-gap: 8px; }
    @media only screen and (max-width: 1000px) {
      .openstaade__item-notice-1 {
        grid-row: 3 / 3; } }
    .openstaade__item-notice-1-head {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      padding-top: 24px;
      display: grid;
      grid-template-columns: 28px 232px;
      column-gap: 8px; }
      .openstaade__item-notice-1-head-icon {
        grid-column: 1 / 2;
        align-self: start;
        justify-self: start; }
      .openstaade__item-notice-1-head-content {
        grid-column: 2 / 3;
        align-self: start; }
    .openstaade__item-notice-1-body {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      font-size: 18px;
      font-family: teleneomedium;
      color: #757575; }
    .openstaade__item-notice-1-link {
      grid-row: 3 / 4;
      grid-column: 2 / 3;
      font-size: 18px; }
  .openstaade__item-notice-2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 80px 28px 52px;
    grid-template-columns: 24px 1fr 24px;
    row-gap: 8px; }
    @media only screen and (max-width: 1000px) {
      .openstaade__item-notice-2 {
        grid-row: 3 / 3; } }
    .openstaade__item-notice-2-head {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      padding-top: 24px;
      display: grid;
      grid-template-columns: 28px 232px;
      grid-template-rows: repeat(2, 28px);
      column-gap: 8px; }
      .openstaade__item-notice-2-head-icon {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center; }
      .openstaade__item-notice-2-head-content {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        line-height: 28px;
        align-self: start; }
  .openstaade .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .openstaade .no-scrollbar::-webkit-scrollbar {
    display: none; }

.dashboard-title {
  display: none; }

@media only screen and (max-width: 1000px) {
  .dashboard-title {
    display: block;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-top: 24px;
    padding-bottom: 8px; } }

.statistics {
  grid-column: 3 / 4;
  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
  grid-auto-rows: 128px;
  gap: 16px;
  padding-bottom: 250px;
  background-color: #F6F6F6; }
  @media only screen and (max-width: 1000px) {
    .statistics {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      padding-bottom: 50px; } }
  @media only screen and (max-width: 720px) {
    .statistics {
      padding-bottom: 32px; } }
  .statistics-title {
    grid-column: 1 / -1; }
  .statistics-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(235px, 330.67px));
    grid-auto-rows: 128px;
    gap: 16px; }
    @media only screen and (max-width: 720px) {
      .statistics-items {
        grid-template-columns: repeat(3, 148px);
        grid-template-rows: 132px;
        grid-auto-flow: column;
        overflow-x: scroll;
        scroll-snap-type: x proximity; } }
    .statistics-items__item {
      background-color: #FFFFFF;
      padding: 24px 24px;
      border-radius: 4px;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 4px 8px rgba(0, 0, 0, 0.04);
      display: grid;
      grid-template-columns: 80px 186.67px;
      grid-template-rows: repeat(2, 40px);
      column-gap: 16px; }
      @media only screen and (max-width: 720px) {
        .statistics-items__item {
          grid-template-columns: none;
          grid-template-rows: 36px 48px;
          gap: 0; } }
  .statistics-number {
    align-self: center;
    grid-column: 2 / 3;
    padding-top: 6px; }
  .statistics-placeholder {
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-family: teleneomedium;
    color: #757575;
    line-height: 24px;
    font-size: 18px; }
  .statistics-iconcircle {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #F6F6F6;
    display: inline-block; }
    @media only screen and (max-width: 720px) {
      .statistics-iconcircle {
        display: none; } }
  .statistics-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    transform: translate(50%, 50%); }
  .statistics .no-scrollbar {
    scrollbar-width: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .statistics .no-scrollbar::-webkit-scrollbar {
    display: none; }

.heading-1 {
  font-family: teleneobold;
  font-size: 36px;
  color: black; }

.heading-2 {
  font-size: 36px;
  line-height: 40px;
  color: #262626; }

.heading-3 {
  line-height: 28px;
  font-size: 22.5px;
  color: #262626; }

.heading-4 {
  font-size: 18px;
  line-height: 28px;
  color: black; }
