*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Teleneomedium', 'Times New Roman', Times, serif;
}

.container{
    // width: 100vw;
    // width: 100vh;
    display: grid;
    
    grid-template-rows: 118px 962px;
    grid-template-columns: 310px 1610px;
}

.sidebar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.dashboard{
    grid-row: 2/3;
    grid-column: 2/3;
}