*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: teleneobold;
}

.container{
    display: grid;
    grid-template-rows: 114px 966px;
    grid-template-columns: 310px 1610px;
    //gap: 0.5px;
}