.header{
    grid-column: 2 / 3;
    box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.3);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);

    display: grid;
    grid-template-columns: 158px 1fr 252px;
    grid-template-rows: 40px;
    padding: 37px 32px;
    //1546 40
    background-color: #ffffff;

    &-title{
        grid-column: 1 / 2;
        font-family: teleneobold;
        line-height: 40px;
        color: black;
        font-size: 36px;
    }

    &-links{
        grid-column: 3 / 4;
        font-size: 18px;
        align-self: center;

        display: grid;
        grid-template-columns: 24px 108px 24px;
        grid-template-rows: 28px;
        align-items: center;
        column-gap: 48px;

        &-search{
            grid-column: 1 / 2;
        }

        &-account{
            grid-column: 2 / 3;
            align-items: center;
            display: grid;
            grid-template-columns: 24px 76px;
            grid-template-rows: 28px;
            column-gap: 8px;

            &-icon{
                grid-column: 1 / 2;
                // padding-top: 5px;
            }

            &-items{
                align-items: center;
                grid-column: 2 / 2;
                display: grid;
                grid-template-columns: 60px 12px;
                grid-template-rows: 28px;
                column-gap: 4px;

                &-1{
                    grid-column: 1 / 2;
                    line-height: 28px;
                    font-family: teleneo_officeregular;
                }

                &-2{
                    grid-column: 2 / 3;
                }
            }
        }
        
        &-logout{
            grid-column: 3 / 4;
            // padding-top: 2px;
        }
    }
}