.header{
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: 158px 1170px 282px;

    color: black;
    font-size: 3.6rem;
    // padding: 30px;
    background-color: #ffffff;

    &-links{
        grid-column: 3 / -1;
        font-size: 18px;
        justify-self: end;
        align-self: center;

        &-search{
            //padding-right: 50px;
            padding-right: 25px;
        }

        &-account{
            //padding-right: 49.08px;
            padding-right: 20px;
        }
        
        &-logout{
            padding-right: 31.99px;
            padding-top: 48px;
            padding-bottom: 48px;
        }
    }

    &-title{
        grid-column: 1 / 2;
        padding: 37px 32px;
        font-family: teleneobold;
    }
}