.sidebar{
    grid-row: 1 / 3;
    grid-column: 1 / 2;


    display: grid;
    grid-template-rows: 114px 1fr;
    color: #000;
    font-size: 3.6rem;
    padding: 30px;
    background-color: #ffffff; 

    &-logo{
        grid-row: 1 / 2;
        align-self: start;
        justify-self: start;
    }
}

.navigation__list{
    display: grid;
    grid-template-rows: repeat(6, 56px) 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: teleneobold;
    font-size: 16px;

    &-dashboard{
        grid-row: 1 / 2;
    }

    &-medewerkers{
        grid-row: 2/3;
    }

    &-telefoonnummers{
        grid-row: 3/4;
    }

    &-bedrijfsfuncties{
        grid-row: 4/5;
    }

    &-divider{
        grid-row: 5/6;
    }

    &-help{
        grid-row: 6/7;
    }
}

.iconspacing{
    padding-right: 24px;
}