.snel{
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: max-content max-content;
    // grid-template-columns: repeat(3, 330.67px);
    grid-auto-rows: 48px;
    gap: 16px;
    padding-bottom: 64px;
    background-color: $color-grey-light;


    @media only screen and (max-width: 1000px){
        grid-column: 2 / 3;                                                                                                                                                                                                                                                                                         
        grid-row: 5 / 6;
        padding-bottom: 250px;
      }


    &-title{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        padding-top: 48px;
        padding-bottom: 4px;
        @media only screen and (max-width: 1000px){
            padding-top: 0;
          }
    }
    
    &-item{
        grid-row: 2 / 3;

        display: grid;
        grid-template-rows: 48px;
        grid-template-columns: repeat(3, 330.67px);
        grid-auto-rows: 48px;
        gap: 16px;

        @media only screen and (max-width: 1280px){
            grid-template-columns: repeat(2, 330.67px);
        }

        @media only screen and (max-width: 720px){
            // grid-template-columns: repeat(2, 330.67px);
            grid-template-columns: repeat(2, 300px);
            column-gap: 16px;
        }

        @media only screen and (max-width: 655px){
            grid-template-columns: 342px;
            // display: none;
        }

        &-button{
            background-color: $color-primary;
            width: 330.67px;
            height: 48px;
            color: $color-white;
            font-family: teleneobold;
            font-size: 18px;
            border-radius: 4px;
            border: none;

            @media only screen and (max-width: 720px){
                // grid-template-columns: repeat(2, 330.67px);
                width: 300px;
            }
    
            @media only screen and (max-width: 655px){
                width: 342px;
            }

            display: grid;
            grid-template-columns: 18px max-content;
            grid-template-rows: 28px;
            column-gap: 8px;
            align-content: center;
            justify-content: center;

            // @media only screen and (max-width: 1920px){
            //     // display: grid;
                
            //     width: 235px;
            //     font-size: 10px;
            //     display: grid;
            //     grid-template-columns: 18px max-content;
            //     grid-template-rows: 28px;
            //     column-gap: 8px;
            //   }
       
            &-icon{
                grid-column: 1 / span 1;
                align-self: center;
            }

            &-placeholder{
                grid-column: 2 / span 1;
                line-height: 28px;
                font-size: 18px;
                align-self: center;
            }
        }
    }
}