.heading-1{
    font-family: teleneobold;
    font-size: 36px;
    color: black;
}

.heading-2{
    font-size: 36px;
    line-height: 40px;
    color:#262626;  
}

.heading-3{
    line-height: 28px;
    font-size: 22.5px;
    color: #262626;
}

.heading-4{
    font-size: 18px;
    line-height: 28px;
    color: black;
}